
<app-nav></app-nav>

<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row mt-">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://c1.wallpaperflare.com/preview/835/832/858/man-face-human-portrait.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Peres</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://wallpaperaccess.com/full/2562966.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Pep</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMvBW5-O-1RHq3cw5dxSQ_f52GVGocACUFa6b34kjK-11qP5fXYb9Z_tK4yD8MPRb8E6k&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Galtier</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXgHcUr7IdWRAcwynhO5C8HxbgywsCrgAHIx5XZc48Arb3ppKPYTqIgE-FgMWAOPH05VA&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Tenhag</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://media.newyorker.com/photos/5bd78600daf42d0501bd51e6/1:1/w_1920,h_1920,c_limit/Treisman-Scary-Stories.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Fergusen</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjagaiSazKgXHt85p5FQgbJS5AZ5t2DGps-g&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Jhon</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://images.theconversation.com/files/90015/original/image-20150729-30889-ri221u.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Fergusen</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://media.newyorker.com/photos/5bd78600daf42d0501bd51e6/1:1/w_1920,h_1920,c_limit/Treisman-Scary-Stories.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Peter</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShYSL-mIKNCzz0cHTMTNZyo_lbrn0i0vjN0Zrxa36ihD1vVxoEWcwRp-P7UMGAJPh_Kzc&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Parker</h5>
                        </div>
                    </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card m-2 g-3" style="width: 18rem; ">
                        <img height="250px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS209YAKcQ5z4fzvSSxMKKdVUyuR1K4OxIH8S8XOz1WyAhBytSGOVHjSndVxu9v7XhrJjc&usqp=CAU" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">James</h5>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>